@font-face
{
	font-family: 'Raleway';
	src: url('raleway/Raleway-Italic-VariableFont_wght.ttf'),
		 url('raleway/Raleway-VariableFont_wght.ttf')
}


body
{
	font-family: 'Raleway';
}

#bloc_page
{
	width: 1100px;
	margin: auto;
}

/* HEADER */

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav ul	
{
	display: flex;
	justify-content: flex-end;
}

header nav li
{
	margin: 20px;
	list-style-type: none;
}

header nav a 
{
	text-decoration: none;
	color: black;
}

header nav a:hover
{
	color: blue;
	border-bottom: 2px solid blue;
	
}

/* SECTION */


#background_image 
{
	width: 1100px;
}


#texte_presentation
{
	text-align: center;
}

#art_graphisme
{
	text-align: center;
}

#art_strategie
{
	text-align: center;
}

#art_illustrations
{
	text-align: center;
}

#texte_avis
{
	text-align: center;
}

section
{
	text-align: center;
}



/* Footer */


#signature
{
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
}

#reseaux_sociaux
{
	text-align: center;
}



#facebook
{
	margin-left: 50px;
	margin-right: 50px;
}




footer nav 
{
	display: flex;
	justify-content: space-around;
}

#adresse
{
	margin-left: 30px;
}

